# Config for Dependabot to automatically send PRs to keep dependencies up-to-date
version: 2
updates:
    # Configuration for npm (root + server)
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "daily"
      target-branch: "main"

    # Configuration for npm (app)
    - package-ecosystem: "npm"
      directory: "/app"
      schedule:
          interval: "weekly"
      target-branch: "main"

    # Configuration for GitHub Actions
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "monthly"
