[submodule "ocf"]
	path = ocf
	url = https://github.com/poet-network/tap-ocf.git
[submodule "chain/lib/forge-std"]
	path = chain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "chain/lib/openzeppelin-contracts"]
	path = chain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
